{
  "canbroker": {
    "mqtt": {
      "host": "localhost",
      "port": 1883,
      "user": "canbroker",
      "password": "secret"
    },
    "nodes": [
    ],
    "topics": [
      { "id": "home/bus/can/node1/digital1_16",
        "type": "digital",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node1/digital1",
            "type": "bool"
          },
          { "id": "home/can/node1/digital2",
            "type": "bool"
          },
          { "id": "home/can/node1/digital3",
            "type": "bool"
          },
          { "id": "home/can/node1/digital4",
            "type": "bool"
          },
          { "id": "home/can/node1/digital5",
            "type": "bool"
          },
          { "id": "home/can/node1/digital6",
            "type": "bool"
          },
          { "id": "home/can/node1/digital7",
            "type": "bool"
          },
          { "id": "home/can/node1/digital8",
            "type": "bool"
          },
          { "id": "home/can/node1/digital9",
            "type": "bool"
          },
          { "id": "home/can/node1/digital10",
            "type": "bool"
          },
          { "id": "home/can/node1/digital11",
            "type": "bool"
          }
        ]
      },
      { "id": "home/bus/can/node10/digital1_16",
        "type": "digital",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node10/digital1",
            "type": "bool"
          },
          { "id": "home/can/node10/digital2",
            "type": "bool"
          }
        ]
      },
      { "id": "home/bus/can/node20/digital1_16",
        "type": "digital",
        "target": "can",
        "values" : [
          { "id": "home/switches/heating/dusche",
            "type": "bool",
          }
        ]
      },
      { "id": "home/bus/can/node1/analog1_4",
        "type": "analog",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node1/analog1",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node1/analog2",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node1/analog3",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node1/analog4",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node1/analog5_8",
        "type": "analog",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node1/analog5",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node1/analog6",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node1/analog7",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node1/analog8",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node2/analog1_4",
        "type": "analog",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node2/analog1",
            "factor": 1,
            "type": "int"
          },
          { "id": "home/can/node2/analog2",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog3",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog4",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node2/analog5_8",
        "type": "analog",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node2/analog5",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog6",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog7",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog8",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node2/analog9_12",
        "type": "analog",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node2/analog9",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog10",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog11",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog12",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node2/analog13_16",
        "type": "analog",
        "target": "hassio",
        "values" : [
          { "id": "home/can/node2/analog13",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog14",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/can/node2/analog15",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node3/analog1_4" },
      { "id": "home/bus/can/node10/analog1_4" },
      { "id": "home/bus/can/node10/analog13_16" },
      { "id": "home/bus/can/node11/analog1_4" },
      { "id": "home/bus/can/node11/analog5_8" },
      { "id": "home/bus/can/node12/analog1_4" },
      { "id": "home/bus/can/node12/analog5_8" },
      { "id": "home/bus/can/node20/analog1_4",
        "type": "analog",
        "target": "can",
        "values" : [
          { "id": "home/values/temperature/target/flur",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/flur",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/dewpoint/flur",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/humidity/flur",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node20/analog5_8",
        "type": "analog",
        "target": "can",
        "values" : [
          { "id": "home/values/temperature/target/werkstatt",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/werkstatt",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/dewpoint/werkstatt",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/humidity/werkstatt",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node20/analog9_12",
        "type": "analog",
        "target": "can",
        "values" : [
          { "id": "home/values/temperature/target/buero",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/buero",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/target/dusche",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/dusche",
            "factor": 10,
            "type": "float"
          }
        ]
      },
      { "id": "home/bus/can/node20/analog13_16",
        "type": "analog",
        "target": "can",
        "values" : [
          { "id": "home/values/temperature/target/wc",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/wc",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/target/bad",
            "factor": 10,
            "type": "float"
          },
          { "id": "home/values/temperature/bad",
            "factor": 10,
            "type": "float"
          }
        ]
      }
    ]
  }
}
